# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-workspace': [
    label: 'Yard'
    submenu: [
      {label: 'Create', command: 'yard:doc-context'}
    ]
  ]
  'atom-text-editor': [
    {
      'label': 'Create'
      'command': 'yard:doc-context'
    }

  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'yard'
        'submenu': [
          {
          'label': 'Create'
          'command': 'yard:doc-context'
          }
        ]
      }
    ]
  }
]
